@import 'styles/_variaveis.module.scss';

.carregando{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: $fonte-destaque;
    color: $color-5-hex;
    background-color: $color-6-hex;
}