@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

// Fontes
$fonte-destaque: 'Cinzel Decorative', cursive;

/* Color Theme Swatches in Hex */
$color-1-hex: #364B38;
$color-2-hex: #0D0900;
$color-3-hex: #141F17;
$color-4-hex: #2F342E;
$color-5-hex: #473217;

$color-6-hex: #ADA27D;

/* Color Theme Swatches in RGBA */
$color-1-rgba: rgba(54, 75, 56, 1);
$color-2-rgba: rgba(13, 9, 0, 1);
$color-3-rgba: rgba(20, 31, 23, 1);
$color-4-rgba: rgba(47, 52, 46, 1);
$color-5-rgba: rgba(71, 50, 23, 1);

/* Color Theme Swatches in HSLA */
$color-1-hsla: hsla(125, 16, 25, 1);
$color-2-hsla: hsla(41, 100, 2, 1);
$color-3-hsla: hsla(136, 21, 10, 1);
$color-4-hsla: hsla(109, 6, 19, 1);
$color-5-hsla: hsla(33, 51, 18, 1);