@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

// Fontes
$fonte-destaque: 'Cinzel Decorative', cursive;

/* Color Theme Swatches in Hex */
$color-1-hex: #364B38;
$color-2-hex: #0D0900;
$color-3-hex: #141F17;
$color-4-hex: #2F342E;
$color-5-hex: #473217;
$color-6-hex: #ADA27D;


