@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

// Fontes
$fonte-destaque: 'Cinzel Decorative', cursive;

/* Color Theme Swatches in Hex */
$color-1-hex: #364B38;
$color-2-hex: #0D0900;
$color-3-hex: #141F17;
$color-4-hex: #2F342E;
$color-5-hex: #473217;
$color-6-hex: #ADA27D;

$color-bg-nav: linear-gradient(221deg, rgba(250,239,205,1) 0%, rgba(173,162,125,1) 84%, rgba(97,88,60,1) 100%);

/* Color Theme Swatches in RGBA */
$criador-de-personagem-1-rgba: rgba(54,75,56, 1);
$criador-de-personagem-2-rgba: rgba(13,9,0, .5);
$criador-de-personagem-3-rgba: rgba(20,31,23, 1);
$criador-de-personagem-4-rgba: rgba(47,52,46, 1);
$criador-de-personagem-5-rgba: rgba(71,50,23, 1);

