@import 'styles/_variaveis.module.scss';

.form{    
    &__names{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        flex-grow: 1;
        column-gap: 2rem;
        row-gap: 2rem;
        flex-wrap: wrap;
        
        legend{
            text-align: center;
            font-size: 2rem;
            font-family: $fonte-destaque;
            color: $color-5-hex;
            padding: 1em 0;
        }
    }
}