@import 'styles/_variaveis.module.scss';

.nomes{
    display: flex;
    flex-grow: 1;    
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    
    &__jogador{       
        color: $color-6-hex;
        background-color: $color-1-hex;
        padding: .3em 0 .3em .5em;
        border-radius: .5em 0 0 .5em;
        border: 2px solid $color-1-hex;
        box-shadow: 0 0 6px $color-3-hex;
    }
    &__personagem{
        padding: .3em 1em;
        color: $color-1-hex;
        border-bottom: 4px solid $color-1-hex;                
        font-family: $fonte-destaque;
    }
}
@media screen and (max-width: 760px) {
    .nomes{
        font-size: 1.5rem;
    }
    
}
@media screen and (max-width: 460px) {
    .nomes{
        font-size: 1.2rem;
    }
    
}
@media screen and (max-width: 390px) {
    .nomes{
        font-size: 1rem;
    }
    
}