@import 'styles/_variaveis.module.scss';

.descricao {
    width: 40%;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.3em;
    color: $color-1-hex;
    border-left: 2px dashed $color-2-hex;
    padding-left: 2rem;
}

@media screen and (max-width:760px) {
    .descricao {
        width: 90%;
        border-left: none;
    }
}