@import 'styles/_variaveis.module.scss';

.navHeader {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 760px) {
    .navHeader {
        padding: 0 1rem;
    }
}