@import 'styles/_variaveis.module.scss';

.habilidades {
    display: flex;
    flex-direction: column;    
    padding: 2rem 1rem;
    background-color: $criador-de-personagem-5-rgba;
    border-radius: 1rem;
    border-left: 2px dashed black;
    border-bottom: 2px dashed black;
    box-shadow: 0 0 9px $color-2-hex;
    width: 90%;


    &__habilidade {
        padding: 1rem 0;

        h3 {
            display: flex;
            align-items: center;
            font-size: 1rem;
            padding-left: 1em;
            column-gap: .5em;
            font-family: $fonte-destaque;
            color: $color-3-hex;
        }

        P {
            text-align: justify;
            line-height: 1.3em;
            padding: 1em 0;
            color: $color-4-hex;
        }
    }
}

@media screen and (max-width: 760px) {
    .habilidades {
        width: 100%;
    }

}