@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

.topo {
    display: flex;
    flex-direction: column;
    font-family: 'Turret Road', cursive;
    font-size: 1.3rem;
    color: #6F4A8E;
    background-color: #EBEBEB;

    &__btn {
        color: #6F4A8E;
        background-color: #EBEBEB;
        font-size: 1.3rem;
        border: none;
        display: flex;
        align-items: center;
        column-gap: 1em;
        cursor: pointer;
        transition: .5s;

        &:hover {
            color: #EBEBEB;
            background-color: #6F4A8E;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        margin-top: -100%;
        transition: margin-top .8s;

        &__aberto {
            margin-top: 0;
        }

        h1 {
            max-width: 200px;

            img {
                width: 100%;
            }
        }

        nav {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .links {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: #6F4A8E;
                text-decoration: none;
            }

            .ancora {
                a {
                    color: #6F4A8E;
                    text-decoration: none;
                    font-size: 1.3rem;
                    padding: .3em .5em;
                    transition: .5s;

                    &:hover {
                        color: #EBEBEB;
                        background-color: #6F4A8E;
                    }
                }
            }

        }
    }

}

.btnAbertura {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EBEBEB;

    &__btn {
        padding: .3em 0;
    }

}

@media screen and (max-width: 820px) {
    .topo {
        &__header {
            flex-direction: column;
        }
    }

}

@media screen and (max-width: 570px) {
    .topo {
        header {
            nav {
                padding: 2em 0;
                width: 100%;
                justify-content: space-evenly;
            }
        }

        .links {
            flex-direction: column;
        }
    }
}